@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-6">
                <h1>Hola Mundo</h1>
                <p>Estamos probando las primeras configuraciones de mi proyecto MVC</p>
            </div>
            <div class="col-6">
                <h1>Hola Mundo</h1>
                <p>Estamos probando las primeras configuraciones de mi proyecto MVC</p>
            </div>
        </div>
    </div>
</div>
